
/*Geral */

body{

  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  width: 100%;


}

.header{

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 90%;

  background-color: #E0E0E0;

}


.logo-and-title{

  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 2%;
  
}

.logo-and-title h1{

  font-size: x-large;
  font-weight: bold;
  margin-left: 1%;

}

/* Menu */

.menu{

  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5%;

}

.menu-toggle{
  
  display: none;
  
}

.menu-content{
  
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 2%;

  background-color: #FFFFFF;
  
}



li{
  width: 100%;
  margin: 2%;
}

.close-menu{

  display: none;

}

.clean-data-item{
  
  border-right: 2px #979797 solid;
  margin: auto;

}

/*corpo do app*/

.app-body{

  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

/* Formulario */

.transaction-form{

  width: 30%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 10%;
  
  border-style: solid;
  border-width: 2px;
  border-color: #979797;
  border-radius: 4px;
  margin: 1%;
  padding: 1%;

}

.transaction-form h2{

  font-size: x-large;
  font-weight: bold;
}

.transaction-form form{
  
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  
  
}

#dropdown{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 2%;

}

#transactions{
  border-radius: 4px;
  padding: 2%;
  width: 100%;
}

.merch-name-input, .merch-value-input{

  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2%;
  
  
}

.merch-name-input input, .merch-value-input input{

  padding: 2%;
  border-radius: 4px;

}

#add-transaction-button{

  margin: 2%;
  width: 100%;
  background-color: #333333;
  border-radius: 4px;

}

#add-transaction-button input{

  width: 100%;
  background-color: #333333;
  color: #ffffff;
  padding: 2%;
  border-radius: 4px;
  

}

.account-statement{
  
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
}

.account-statement h2{

  margin-bottom: 10%;
  font-size: x-large;
}

.account-statement table{

  width: 100%;
  table-layout: fixed;
  border-spacing: 0px;
  
  
}

.account-statement table th{
  border: none;
}

.account-statement table td{

  padding: 2%;
  
}

.left-content{
  text-align: left;
  border-top: 1px solid;
  
}

.right-content {
  text-align: right;
  border-top: 1px solid;
  
}

tfoot .left-content{
  border-top: 1px double;
}


tfoot .right-content{
  border-top: 1px double;
}

@media screen and (max-width: 478px){

  .transaction-form h2{

    display: none;

  }
}

@media (max-width: 768px) {

  .header{

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #E0E0E0;

  }
  /* Menu */
  .menu .menu-content{

    display: none;

  }

  .menu:hover .menu-content{
    
    position: absolute;
    left: 21%;
    top: -3%;
    width: 80%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    text-align: right;
    color: #ffffff;
    padding: 0;

    font-size: larger;
    background-color: #333333;
    
  }


  .menu-content li:hover{
    
    background-color: #979797;
    cursor: pointer;
  }

  .clean-data-item{
  
    border: none;
  
  }

  .menu .close-menu{
    display: flex;
    align-self: flex-start;
    padding: 5%;
    font-size: large;
  }

  .menu:hover .menu-content li{
    width: 95%;
    margin-right: 20%;
  }

  .menu:hover .close-menu{
    margin: 3%;
  }
  
  .menu .menu-toggle{
    display: flex;
    font-size: 200%;
    align-self: flex-end;
  }
  
  .menu .menu-toggle::before{
    content:'≡';
  }
  
  .menu:hover .menu-toggle::before{
    content:'X';
  }
  


  .logo-and-title{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .logo-and-title{

    font-size: 100%;
  }

  .navigation{
    display: none;
  }

  .app-body{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .transaction-form{

    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 0%;
    
    border: 0px;

  }

  .transaction-form h1{

    display: none;
  } 

  .transaction-form form{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    
    
  }

  #dropdown{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin: 2%;
    

  }

  .merch-name-input, .merch-value-input{

    display: flex;
    flex-direction: column;
  }

  .account-statement{
  
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 0%;
    border-top: 1px solid #979797; 
    margin-bottom: 10%;
  }

  .footer{

    position: absolute;
    display: block;
    bottom: 0px;
    width: 100%;
    height: 10px;
    background-color: #333333;
  }
}

@media (min-width: 412px) and (max-width: 768px) {

  .logo-and-title{

    width: 60%;
  }
  
  .app-body{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .transaction-form{

    width: 95%;
    border: 1px solid #979797;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 0;
    margin-right: 0%;
    

  }

  .transaction-form form{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    padding: 3%;
    
  }

  #dropdown{

    display: flex;
    align-items: flex-start;
    width: 30%;
    margin: 2%;
    
    

  }

  .merch-name-input{

    width: 35%;
    margin-left: 0%;
  }

  .merch-value-input{

    width: 25%;
  }


  #add-transaction-button{

    display: flex;
    margin: 2%;
    width: 35%;
    
    background-color: #333333;
    border-radius: 4px;
    align-self: flex-end;
    justify-content: right;
  }
  
  #add-transaction-button input{
  
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    border-radius: 4px;
  
  }

  .account-statement {

    width: 95%;
    border: none;
  }

}