
body{
  width: 1500px;
  padding: 0;
  margin: 0;
}

.clock{
  display: none;
}

.header{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 1500px;
  height: 80px;
  left: 0px;
  top: 0px;
  
  background: #E0E0E0;

}

.group{
  
  width: 471px;
  height: 43px;
  left: 0px;
  top: 19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 200px;


}

.group .logo{
  margin-left: 20px;
}


.group .header-h1{
 /* Controle financeiro */

  padding-left: 20px;
  padding-top: 19px;
  width: 411px;
  height: 43px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  

  color: #333333;

}



/*menu*/

.menu{
  width: 350px;
  height: 40px;
  align-items: center;
  

}
.navigation{
  
  width: 350px;
  height: 40px;
  display: flex;
  margin-right: 200px;
  right: 0px;
  top: 20px;
  align-items: center;
  justify-content: space-around;
 
  

  background: #FFFFFF;

}

.frame-8{
  display: none;
}


.line{

  border: 1px solid #979797;
  align-self: middle;
}

.navigation a{
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #333333;

  

}

.menu-toggle{
  display: none;
}

/*conteudo da aplicacao*/

.frame2{
  
  width: 1100px;
  height: 755px;
  margin-left: 200px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  


}

/*formulário de transações */
.transaction-form{

  
  width: 400px;
  height: 344px;
  left: 0px;
  top: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
 
  border-style: solid;
  border-width: 1px;
  border-color: #979797;
  border-radius: 4px;

  
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  /* or 157% */

  color: #333333;


}

.transaction-form h1{
  
  width: 174px;
  height: 20px;
  margin-top: 20px;
  margin-left: 50px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  /* or 122% */
 

  color: #000000;
}



.transaction-form form {
  width: 400px;
  height: 344px;
  margin-left: 0px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  

}

#dropdown{
  width: 370.2px;
  height: 57px;
  display: flex;
  flex-direction: column;
  margin-left: 14.9px;

}

#dropdown #transactions{
  width: 370.2px;
  height: 32px;
  margin-top: 2.78px;
  border-radius: 4px;
}

.input-medium1, .input-medium2{
  width: 370.2px;
  height: 57px;
  margin-left: 14.9px;
  
}

.input-medium1 input, .input-medium2 input{
  width: 365px;
  height: 30px;
  margin-top: 2.78px;
  border-radius: 4px;
  border-width: 1px;
}

#add-transaction{

  width: 370.2px;
  height: 33px;
  display: flex;
  align-items: center;
  margin-left: 14.9px;
  
}

#add-transaction input{
  
  width: 370.2px;
  height: 33px;
  background-color: #333333;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  

  /* @btn-primary-color */
  color: #FFFFFF;
  

}


.account-statement{
  
  width: 680px;
  height: 281px;
  
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-statement h1{
 
 
  width: 177px;
  height: 20px;
  left: 239px;
  top: 21px;
  
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  
  /* or 122% */
  
  color: #000000;
}

.account-statement table{

 
  width: 72px;
  height: 22px;
  margin-left: 40px;
  margin-top: 20px;
  
  

}

.left-content{
  text-align: left;
}

.right-content{
  text-align: right;
}


/* smartphone*/
@media screen and (max-width: 411px) {
  
  body{
    position: relative;
    width: 411px;
    height: 731px;
    margin: 0;
    padding: 0;

    background: #FFFFFF;

  }



  .footer{
    position: absolute;
    width: 411px;
    height: 8px;
    left: 0px;
    top: 723px;

    background: #333333;
  }


  .frame-8{
    position: absolute;
    width: 88px;
    height: 18px;
    right: 2.36px;
    top: 2px;

  }



  .header{

    display: flex;
    width: 411px;
    height: 60px;
    left: 0px;
    top: 24px;
    align-items: center;
    justify-content: space-around;
    

    background: #E0E0E0;

  }
  /*Menu*/
  
  

  .menu{
  
    width: 24px;
    height: 24px;

  }

  .menu .menu-toggle{
    
    display: block;
    width: 24px;
    height: 24px;
  }

  
  
  
  .menu .navigation{
    
    display: none;
    width: 350px;
    height: 40px;
    right: 0px;
    top: 20px;
    align-items: center;
    justify-content: space-around;
    
  
    background: #FFFFFF;
  
  }
  .menu:hover .navigation{
    
    z-index: 1;
    display: block;
    width: 351px;
    height: 1000px;
    right: 0px;
    top: 24px;
    align-items: right;
    justify-content: space-around;
    
  
    background: #333333;
  
  }

  .menu:hover .navigation a{
       
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
  }


  .menu .menu-toggle::before{
    content: '☰';
  }
  .menu:hover .menu-toggle::before{
    content: 'x';
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
  }


  .header-h1{
    /* Controle financeiro */

    width: 176px;
    height: 43px;
    left: 129px;
    top: -6px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #333333;

  }



  .logo{

    width: 30px;
    height: 27.63px;
    left: 22px;
    top: 15px;
  }

    
  .status-bar {
    position: absolute;
    height: 24px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #000000;

  }

    

  .frame-6{
    position: absolute;
    width: 120px;
    height: 16px;
    left: 2.64px;
    top: 4px;
  }


  .charge{

    position: absolute;
    width: 9px;
    height: 8px;
    left: 60.86px;
    top: 5.5px;
  
    background: #FFFFFF;
  }

    
  .charge p{
    position: absolute;
    width: 25px;
    height: 15px;
    left: 29.86px;
    top: 2.5px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #FFFFFF;
  }



  .vector-3{
    position: absolute;
    width: 5px;
    height: 10px;
    left: 19.86px;
    top: 4.5px;

    border: 1px solid #FCFCFC;
  }

  .clock{
    position: absolute;
    width: 50px;
    height: 15px;
    left: calc(50% - 50px/2 + 1px);
    top: -5px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #FFFFFF;
  }

  .frame2{
    display: flex;
    width: 411px;
    height: 731px;
    top: 0px;
    left: 0px;
  }

  .transaction-form{
    position: absolute;
    width: 371px;
    height: 195px;
    left: 10px;
    top: 85px;
  }

  .transaction-form h1{
    display: none;
  }


  /* .rectangle{
    
    width: 400px;
    height: 200px;
    left: calc(50% - 400px/2);
    top: -23px;
    border-color: transparent; 
  }*/



  #dropdown{
    position: absolute;
    left: 3%;
    right: 0%;
    top: 17px;
    bottom: 80.34%;

  }

    
  #add-transaction{
      
    
    position: absolute;
    height: 3.72%;
    left: 3.72%;
    right: 84.59%;
    top: 114.81%;
    display: flex;
    left: 15px;
    background: #333333;
    border-radius: 4px;
    
    
  }

  .input-medium1{
    position: absolute;
    left: 3%;
    right: 0%;
    top: 44.55%;
    bottom: 53.91%;
  }

  .input-medium2 {
    position: absolute;
    left: 3.72%;
    right: 3.72%;
    top: 80.5%;
    bottom: 21.51%;
    
  }

  #add-transaction input{
    /* or 157% */
    
  
    background-color: #333333;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
  
    
  
    color: #FFFFFF;
    
    
  }

  .division-line{

    position: absolute;
    width: 371px;
    height: 0px;
    left: 23px;
    top: 347px;
    
    border: 1px solid #979797;

  }

  .account-statement{
    position: absolute;
    width: 371px;
    height: 281px;
    left: 20px;
    top: 420px;

    background: #FFFFFF;

  }



  .table-frame{
    position: absolute;
    width: 371px;
    height: 187px;
    left: 0px;
    top: 0px;
    display: table;
    overflow-x: auto;
    overflow-y : hidden;
  }

  .account-statement h1 {
    position: absolute;
    width: 175px;
    height: 20px;
    left: 110px;
    top: -50px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    /* or 122% */

    color: #000000;
  }

  .account-statement table{
    position: absolute;
    width: 72px;
    height: 22px;
    left: -5px;
    top: 15px;
  }


  .horizontal-line{
    width: 371px;
    height: 0px;
    left: 0px;
    top: 22px;
    border: 1px solid #979797;
  }

  .right-content{
    text-align: end;
  }
}

/* tablet portrait */


@media screen and (min-width: 412px) and (max-width: 768px) and (orientation: portrait) {
  
  body{
    position: relative;
    width: 768px;
    height: 1024px;
    padding: 0;
    margin: 0;

    background: #FFFFFF;
  }



  .status-bar{
    position: absolute;
    height: 24px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #000000;

  }

  .header {
    position: absolute;
    width: 768px;
    height: 60px;
    left: 0px;
    top: 24px;

    background: #E0E0E0;

  }



  .logo{
    position: absolute;
    width: 30px;
    height: 27.63px;
    left: 22px;
    top: 15px;
    border: 2px solid #333333;

  }

  .navigation{
    display: none;
  }




  .header-h1{
    position: absolute;
    width: 411px;
    height: 43px;
    left: 295px;
    top: -4px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #333333;
  }


  .frame-6{
    position: absolute;
    width: 120px;
    height: 16px;
    left: 2.64px;
    top: 4px;
  }

  .frame2{
    position: absolute;
    width: 768px;
    left: 0px;
    top: 0px;
  }

  .frame-8{
    position: absolute;
    width: 88px;
    height: 18px;
    right: 2.36px;
    top: 2px;
  
  }


  .charge{
    position: absolute;
    width: 25px;
    height: 15px;
    left: 29.86px;
    top: 2.5px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #FFFFFF;

  }


  .clock{
    position: absolute;
    width: 50px;
    height: 15px;
    left: 350px;
    top: -6px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #FFFFFF;

  }



  .transaction-form{
    position: absolute;
    width: 728px;
    height: 189px;
    left: 20px;
    top: 104px;

  }


  .rectangle {
    position: absolute;
    width: 728px;
    height: 189px;
    left: calc(50% - 728px/2);
    top: calc(50% - 189px/2);

    background: #FFFFFF;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .account-statement{
    position: absolute;
    width: 728px;
    height: 281px;
    left: 20px;
    top: 316px;

    background: #FFFFFF;
  }

  .account-statement h1{
    position: absolute;
    width: 175px;
    height: 20px;
    left: 277px;
    top: 21px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    /* or 122% */

    color: #000000;


  }

  .account-statement table{
    position: absolute;
    top: 100px;
    left: 15px;

  }

  td.left-content, th.left-content {
    text-align: left;
  }

  td.right-content, th.right-content {
    text-align: right;
  }


  

  #form-h1{
    position: absolute;
    width: 174px;
    height: 20px;
    left: calc(50% - 174px/2);
    top: calc(50% - 20px/2 - 64.5px);

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    /* or 122% */
    text-align: center;

    color: #000000;
  }
  
  #dropdown{
    position: absolute;
    left: 2.75%;
    right: 76.65%;
    top: 32.28%;
    bottom: 37.57%;

    width: 150px;
    height: 57px;
  }

  #transactions{


    position: absolute;
    width: 150px;
    height: 32px;
    left: 0%;
    right: 0%;
    top: 25px;

    background: #FFFFFF;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;

  }

  .input-medium1{
    position: absolute;
    left: 26.1%;
    right: 26.1%;
    top: 32.28%;
    bottom: 37.57%;

    width: 348px;
    height: 57px;


  }

  #merch-name{
    position: absolute;
    width: 348px;
    height: 32px;
    left: 0px;
    right: 0px;
    top: 24px;

    background: #FFFFFF;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .input-medium2{
    position: absolute;
    width: 150px;
    height: 55px;

    left: 76.65%;
    right: 2.75%;
    top: 32.28%;
    bottom: 38.62%;
  }

  .input-medium2 input{
    width: 150px;
    height: 32px;

  }

  #add-transaction{
    position: absolute;
    width: 200px;
    height: 33px;
    left: 69.78%;
    right: 2.75%;
    top: 71.96%;
    bottom: 10.58%;

  }

  #add-transaction input{
    position: absolute;
    width: 200px;
    height: 33px;
    
  }

  
  .footer{
    position: absolute;
    width: 768px;
    height: 8px;
    left: 0px;
    top: 1016px;

    background: #333333;

  }

    



}